<br>    
<br>
<br>

<div class = "row">

    <div class = "col-md-3">


    </div>

    <div class = "col-md-6">
        <div class="card bordecard mb-3" >
            <div class="card-header">Contacto</div>
            <div class="card-body text-dark">
              
        
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputApellido">Apellido</label>
                            <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
                          </div>
                    </div>
                
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="tuemail@gmail.com">
                        </div>
                        
                    </div>
                
                
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCelular">Celular</label>
                          <input type="text" class="form-control" id="inputCelular"  placeholder="3537-662074">
                        </div>     
                        <div class="form-group col-md-6">
                          <label for="inputTelefono">Telefono Fijo</label>
                          <input type="text" class="form-control" id="inputTelefono"  placeholder="03537-460451">
                        </div>
                   
                    </div>
                
                
                    <div class="form-row">
          
                          <label for="exampleFormControlTextarea1">Tu Mensaje:</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                 
                    </div>
                    <br>
    
                    <button type="submit" class="btn btn-block btncolor">Enviar</button>
                    
 
                  </form>
                
        
        
        
            </div>
          </div>

    </div>


</div>





  

