<br>
<br>
<div class="row">


  <div class="col-sm-3">

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alimentación</h5>
        <p class="card-text">

          Cantidades de alimentos a seguir según las caracteristicas de tu mascota.</p>
        <a href="#" class="btn btn-block btncolor">Ver más</a>
      </div>
    </div>
  

  </div>

    
  <div class="col-sm-3">

      
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Vacunación</h5>
        <p class="card-text">Es muy importante llevarlos regularmente al veterinario para evitar enfermedades.</p>
        <a href="#" class="btn btn-block btncolor">Ver más</a>
      </div>
    </div>

  </div>



    <div class="col-sm-3">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Enfermedades</h5>
          <p class="card-text">Aquí las enfermedades frecuentes que pueden sufrir sus mascotas.</p>
          <a href="#" class="btn btn-block btncolor">Ver más</a>
        </div>
      </div>
    

    </div>


  <div class="col-sm-3">

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Antes de adoptar</h5>
          <p class="card-text">Consejos a seguir antes de llevar a tu hogar una mascota.</p>
          <a href="#" class="btn btn-block  btncolor">Ver más</a>
        </div>
      </div>
      
  
  </div>

</div>






 