/* Add application styles & imports to this file! */

body{
  
 background-image: url("https://image.freepik.com/vector-gratis/fondo-patron-perro_1273-167.jpg");

  margin: auto;
}
 /*bordecard y botoneslilas y botoneslilas:hover*/

 .bordecard {
    border-color: #6e1217 !important;
  }


.colormenu {
  background-color:  #82272c !important;

}
.titulo{

   color: white !important;

}